body {
  font-family: "PT Sans Caption", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1176px;
  padding: 0 18px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
